<p>pipe works!</p>
<h2>Pipe Example</h2>

<!-- <h2>{{msg | uppercase}}</h2> -->

<!-- <p>Employee Designation: {{employeeObj.Designation | uppercase}}</p> -->

<!-- you tube
 pipe date
<p>Today is {{today | date}}</p>
<p>Full date is, {{today | date:'fullDate'}}</p>
<p>The time is {{today | date:'h:mm a z'}}</p>

object json pipe 
<p>Studant Object : {{studntoyeeObj | json}}</p>  -->

<!-- class -->
<!-- date pipe-->
<!-- <p> Todays date is : {{todaysDate}}</p> 
<p> Todays date is : {{todaysDate | date}}</p>
<p> Todays date(short date) is : {{todaysDate | date:'shortDate'}}</p> 
<p> Todays date(medium date) is : {{todaysDate | date:'mediumDate'}}</p> 
<p> Todays date(dd/MM/yyyy) is : {{todaysDate | date:'dd/MM/yyyy'}}</p> 
<p> Todays date(dd-MM-yyyy) is : {{todaysDate | date:'dd-MM-yyyy'}}</p>  -->

<!-- currency pipe -->
<!-- <h3> employee salary: {{employeeObj.salary | currency}}</h3>
<h3> employee salary(INR): {{employeeObj.salary | currency:'INR'}}/-</h3>
<h3> employee salary(Euro): {{employeeObj.salary | currency:'EUR'}}</h3> -->

<!-- number pipe digits -->
<!-- <p>employee income : {{employeeObj.income | number}}</p> 
<p>employee income(after formatting) : {{employeeObj.income | number:'4.4-4'}}</p>
<p>employee income(after formatting) : {{employeeObj.income | number:'10.4-4'}}</p> -->





